# Configuration COFINANCE CI
SECRET_KEY=django-insecure-+isgbxh%mtbvewfy$jnewa^8*!bq=2xb8-3soy0wmdtk5bv#=3
DEBUG=True
ALLOWED_HOSTS=*,localhost,127.0.0.1

# Database Configuration
# Laissez vide pour utiliser SQLite (par défaut en développement)
# Pour PostgreSQL, décommentez et configurez la ligne ci-dessous :
# DATABASE_URL=postgres://user:password@localhost:5432/cofinance_db
DATABASE_URL=

# Configuration Stockage Cloud (Optionnel - AWS S3)
# Décommentez et renseignez pour utiliser un stockage de fichiers décentralisé en production
# AWS_ACCESS_KEY_ID=votre-access-key-id
# AWS_SECRET_ACCESS_KEY=votre-secret-access-key
# AWS_STORAGE_BUCKET_NAME=votre-nom-de-bucket-s3
# AWS_S3_REGION_NAME=eu-west-3
